:root{
  --cor1: #cbf1eb;
  --cor2: #12C4E6;
  --cor3: #1281E6;
  --cor4: #1C02E6;
  --cor5: #090039;
  --fonte: "Play", sans-serif;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:var(--fonte);
}

body{
  background: var(--cor1);
}

/* HEADER */
.top-header{
  position: fixed;
  top:0;
  width:100%;
  padding:20px 40px;
  background: linear-gradient(to right, var(--cor3), var(--cor5));
  display:flex;
  justify-content:space-between;
  align-items:center;
  color:white;
  z-index:1000;
}

.logo{
  font-weight:700;
  font-size:1.2rem;
}

.top-header nav a {
  color: white;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.top-header nav a:hover {
  background-color: var(--cor3);
}

/* HERO */
.hero{
  height:100vh;
  background: linear-gradient(to bottom, var(--cor3), var(--cor5));
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
}

.hero h1{
  font-size:3rem;
}

.hero p{
  margin-top:15px;
}

.btn{
  background:white;
  color:var(--cor5);
  padding:14px 28px;
  border-radius:30px;
  text-decoration:none;
  font-weight:bold;
  margin-top:25px;
  display:inline-block;
  transition:0.3s;
}

.btn:hover{
  background: var(--cor3);
  color:white;
}


/* CONTEÚDO */
.conteudo{
  max-width:900px;
  margin:100px auto;
  text-align:center;
  padding:0 20px;
}

/* IMAGEM */
.imagem-destaque img{
  width:100%;
  max-width:900px;
  display:block;
  margin:60px auto;
  border-radius:20px;
}

/* TÓPICOS */
.topicos{
  display:flex;
  justify-content:center;
  gap:40px;
  padding:80px 20px;
  flex-wrap:wrap;
}

.topicos div{
  max-width:250px;
  text-align:center;
}

/* FOOTER */
.footer{
  background: linear-gradient(to bottom, var(--cor1), var(--cor2));
  color:black;
  text-align:center;
  padding:40px;
}

.footer_container img{
  width:40px;
  margin:6px;
  transition:transform .2s;
}

.footer_container img:hover{
  transform:scale(1.15);
}

/* ANIMAÇÃO */
.reveal{
  opacity:0;
  transform:translateY(40px);
  transition:.6s ease;
}

.reveal.active{
  opacity:1;
  transform:translateY(0);
}
